@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;700&display=swap');


p a li, ol, ul. h1, h2, h3 h4, hr5 {
  font-family: 'Figtree', sans-serif !important;
}

body {
  font-family: 'Figtree', sans-serif !important; 
}

body h1, body h2, html h1, html h2 {
  font-weight: 700;
}

body h1::before, body h2::before, html h1::before, html h2::before {
  display: none;
}
