/* $source-color: #f15a22;
$source-color-light: #ee7d53;
$source-color-dark: #f46f3d;
 */
/* line 31, ../../sass/_values.scss */
.background-default {
  background-color: #162f49;
}

/* line 34, ../../sass/_values.scss */
.color-default {
  color: #FFFFFF;
}

@media only screen and (min-width: 980px) {
  /* line 37, ../../sass/_values.scss */
  .color-default .active {
    color: #58595b;
  }
}

/* line 43, ../../sass/_values.scss */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-left: 20px;
  padding-right: 20px;
}

/** Loading Area **/
/* line 5, ../../sass/generated/base.scss */
.loading-area {
  background: rgba(0, 0, 0, 0.65);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9990;
}

/* line 13, ../../sass/generated/base.scss */
.pace {
  z-index: 9999;
  position: absolute;
}

/* line 17, ../../sass/generated/base.scss */
html {
  overflow-x: hidden;
}

/* line 20, ../../sass/generated/base.scss */
body,
html {
  word-break: break-word;
  font-weight: normal;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #58595b;
  font-size: 20px;
  font-weight: 600;
  width: 100% !important;
  height: auto;
}
@media only screen and (max-width: 980px) {
  /* line 20, ../../sass/generated/base.scss */
  body,
  html {
    /* padding-left: 0.3em;
    padding-right: 0.3em; */
    font-size: 1em;
  }
}
/* line 38, ../../sass/generated/base.scss */
body em,
html em {
  font-style: italic;
}
/* line 41, ../../sass/generated/base.scss */
body h1,
html h1 {
  font-weight: bold;
  font-size: 56px;
  color: #162f49;
  margin-top: 1.2em;
  clear: both;
}
@media only screen and (max-width: 980px) {
  /* line 41, ../../sass/generated/base.scss */
  body h1,
  html h1 {
    text-align: center;
    font-size: 2em;
  }
}
/* line 53, ../../sass/generated/base.scss */
body h2,
html h2 {
  font-size: 40px;
  color: #162f49;
  margin-top: 1.5em;
  clear: both;
}
@media only screen and (max-width: 980px) {
  /* line 53, ../../sass/generated/base.scss */
  body h2,
  html h2 {
    font-size: 1.4em;
  }
}
/* line 63, ../../sass/generated/base.scss */
body h3,
html h3 {
  font-weight: 500;
  color: #58595b;
  /*font-style: italic;*/
}
/* line 68, ../../sass/generated/base.scss */
body h4,
html h4 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  color: #333;
}
/* line 74, ../../sass/generated/base.scss */
body h5,
html h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
/* line 79, ../../sass/generated/base.scss */
body p,
html p {
  font-weight: lighter;
  font-size: 20px;
  text-align: justify;
}
@media only screen and (max-width: 980px) {
  /* line 79, ../../sass/generated/base.scss */
  body p,
  html p {
    font-size: 1em;
  }
}
/* line 87, ../../sass/generated/base.scss */
body p.intro,
html p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}
/* line 92, ../../sass/generated/base.scss */
body a,
html a {
  color: #162f49;
}
/* line 94, ../../sass/generated/base.scss */
body a:hover,
html a:hover {
  text-decoration: none;
  color: #222;
}
/* line 98, ../../sass/generated/base.scss */
body a:focus,
html a:focus {
  text-decoration: none;
  color: #222;
  outline: none;
  outline-offset: none;
}
/* line 105, ../../sass/generated/base.scss */
body ul,
body ol,
html ul,
html ol {
  font-weight: lighter;
  list-style: none;
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}
/* line 113, ../../sass/generated/base.scss */
body ul.bullet,
body ol.bullet,
html ul.bullet,
html ol.bullet {
  margin-left: 2.5em;
}
/* line 115, ../../sass/generated/base.scss */
body ul.bullet > li,
body ol.bullet > li,
html ul.bullet > li,
html ol.bullet > li {
  list-style: disc;
  font-size: 20px;
}
@media only screen and (max-width: 980px) {
  /* line 115, ../../sass/generated/base.scss */
  body ul.bullet > li,
  body ol.bullet > li,
  html ul.bullet > li,
  html ol.bullet > li {
    font-size: 1em;
  }
}
/* line 124, ../../sass/generated/base.scss */
body .clearfix,
html .clearfix {
  display: block;
  height: 1%;
}
/* line 127, ../../sass/generated/base.scss */
body .clearfix:after,
html .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 136, ../../sass/generated/base.scss */
body hr,
html hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #162f49;
  margin: 0;
  margin-bottom: 40px;
  border: 0;
}
/* line 147, ../../sass/generated/base.scss */
body .btn:active, body .btn.active,
html .btn:active,
html .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 154, ../../sass/generated/base.scss */
body .btn:focus, body .btn.focus,
html .btn:focus,
html .btn.focus {
  outline: none;
  outline-offset: none;
}
/* line 160, ../../sass/generated/base.scss */
body .centered *,
html .centered * {
  text-align: center;
  margin: auto;
}
/* line 165, ../../sass/generated/base.scss */
body .section:last-of-type > div,
html .section:last-of-type > div {
  border-bottom: 3em solid #162f49;
}
/* line 168, ../../sass/generated/base.scss */
body .section:last-of-type [section_footer],
html .section:last-of-type [section_footer] {
  background: #162f49;
  color: #FFFFFF;
  margin-top: 3em;
  padding-bottom: 2em;
}
/* line 173, ../../sass/generated/base.scss */
body .section:last-of-type [section_footer] h1,
html .section:last-of-type [section_footer] h1 {
  margin-top: 1em;
}
/* line 176, ../../sass/generated/base.scss */
body .section:last-of-type [section_footer] a,
html .section:last-of-type [section_footer] a {
  color: #FFFFFF;
  word-break: break-word;
}
/* line 179, ../../sass/generated/base.scss */
body .section:last-of-type [section_footer] a:hover,
html .section:last-of-type [section_footer] a:hover {
  opacity: 0.8;
  color: #58595b;
}

/*** Navigation ***/
/* line 191, ../../sass/generated/base.scss */
#menu {
  padding: 20px;
  transition: all 0.8s;
}
/* line 194, ../../sass/generated/base.scss */
#menu.navbar-default {
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(231, 231, 231, 0);
}
/* line 199, ../../sass/generated/base.scss */
#menu.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  color: #538e3f;
  font-weight: 500;
  font-size: 15px;
  padding: 0.1em 0;
  border: 2px solid transparent;
  letter-spacing: 0.5px;
  margin: 10px 15px 0 15px;
  background-color: transparent;
  word-wrap: break-word;
}
/* line 210, ../../sass/generated/base.scss */
#menu.navbar-default .navbar-nav > li > a:hover {
  color: #74c2c9;
}
/* line 213, ../../sass/generated/base.scss */
#menu.navbar-default .navbar-nav > li > a:focus {
  color: #162f49;
}
/* line 218, ../../sass/generated/base.scss */
#menu.navbar-default .navbar-nav > li.active a {
  color: #fcd462;
}
/* line 226, ../../sass/generated/base.scss */
#menu .navbar-header img {
  padding-top: 0.5em;
  padding-left: 0.5em;
}
/* line 232, ../../sass/generated/base.scss */
#menu a.navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-size: 36px;
  color: #162f49;
  font-weight: 700;
  letter-spacing: 1px;
}
/* line 239, ../../sass/generated/base.scss */
#menu a.navbar-brand > li > a {
  text-transform: uppercase;
  color: #ddd;
  font-weight: 500;
  font-size: 15px;
  padding: 5px 0;
  border: 2px solid transparent;
  letter-spacing: 0.5px;
  margin: 10px 15px 0 15px;
}

/* line 254, ../../sass/generated/base.scss */
.on {
  background-color: #162f49 !important;
  padding: 0 !important;
  /**padding: 1em 0 !important;**/
}

/* line 260, ../../sass/generated/base.scss */
.navbar-toggle {
  border-radius: 0;
}

/* line 266, ../../sass/generated/base.scss */
.navbar-default .navbar-toggle:hover {
  background-color: #162f49;
  border-color: #162f49;
}
/* line 269, ../../sass/generated/base.scss */
.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #FFF;
}
/* line 273, ../../sass/generated/base.scss */
.navbar-default .navbar-toggle:focus {
  background-color: #162f49;
  border-color: #162f49;
}
/* line 279, ../../sass/generated/base.scss */
.navbar-default.navbar-fixed-top img {
  max-height: 3em;
  transition: 0.8s;
  transition-timing-function: ease-in-out;
}
/* line 284, ../../sass/generated/base.scss */
.navbar-default.navbar-fixed-top .logo-default {
  display: block;
}
/* line 287, ../../sass/generated/base.scss */
.navbar-default.navbar-fixed-top .logo-contracted {
  display: none;
}
/* line 292, ../../sass/generated/base.scss */
.navbar-default.navbar-fixed-top:not(.on) #navbar-collapse-menu {
  background: #FFFFFF;
}
/* line 296, ../../sass/generated/base.scss */
.navbar-default.navbar-fixed-top:not(.on) img {
  height: 3.5em;
  max-height: 6em;
  padding-top: 0 !important;
  transition: 0.8s;
  transition-timing-function: ease-in-out;
}
/* line 303, ../../sass/generated/base.scss */
.navbar-default.navbar-fixed-top:not(.on) .logo-contracted {
  display: block;
}
/* line 306, ../../sass/generated/base.scss */
.navbar-default.navbar-fixed-top:not(.on) .logo-default {
  display: none;
}
/* line 310, ../../sass/generated/base.scss */
.navbar-default.navbar-fixed-top #navbar-collapse-menu {
  padding-bottom: 0.6em;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* line 322, ../../sass/generated/base.scss */
.section-title {
  margin-bottom: 70px;
}
/* line 324, ../../sass/generated/base.scss */
.section-title .overlay {
  padding: 80px 0;
  background: rgba(0, 0, 0, 0.7);
}
/* line 328, ../../sass/generated/base.scss */
.section-title p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}
@media only screen and (max-width: 980px) {
  /* line 328, ../../sass/generated/base.scss */
  .section-title p {
    font-size: 1em;
  }
}
/* line 335, ../../sass/generated/base.scss */
.section-title hr {
  margin: 0 auto;
  margin-bottom: 40px;
}

/* line 341, ../../sass/generated/base.scss */
.btn-custom {
  text-transform: uppercase;
  color: #fff;
  background-color: #fdbc21;
  border: 0;
  padding: 14px 20px;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 0;
  margin-top: 20px;
  transition: all 0.5s;
}
/* line 354, ../../sass/generated/base.scss */
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
  color: #fff;
  background-color: #fdbc21;
  opacity: 0.6;
}

/* Header Section */
/* line 368, ../../sass/generated/base.scss */
.intro {
  display: table;
  width: 100%;
  padding: 0;
  background: url("assets/img/intro-bg.jpg") no-repeat center center !important;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
/* line 378, ../../sass/generated/base.scss */
.intro .overlay {
  background: rgba(0, 0, 0, 0.7);
}
/* line 381, ../../sass/generated/base.scss */
.intro h1 {
  color: #fff;
  font-size: 10em;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
}
/* line 389, ../../sass/generated/base.scss */
.intro span {
  color: #a7c44c;
  font-weight: 600;
}
/* line 393, ../../sass/generated/base.scss */
.intro p {
  text-shadow: 0 6px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}
/* line 397, ../../sass/generated/base.scss */
.intro p.title {
  color: #fdbc21;
  font-size: 3.75em;
  text-transform: uppercase;
  /*font-style: italic;*/
  font-weight: bold;
  margin-bottom: -0.25em;
}
/* line 405, ../../sass/generated/base.scss */
.intro p.subtitle {
  color: #fff;
  font-size: 3em;
  margin-top: 10px;
  margin-bottom: 40px;
}
/* line 411, ../../sass/generated/base.scss */
.intro p.author-name {
  color: #fff;
  font-size: 1.3em;
  margin-top: 10px;
  margin-bottom: 40px;
}

/* line 420, ../../sass/generated/base.scss */
/* body {
  overflow-x: hidden;
} */

/* line 424, ../../sass/generated/base.scss */
header .intro-text {
  padding-top: 250px;
  padding-bottom: 200px;
  text-align: center;
}

/**MENU ALWAYS COLLAPSED **/
@media (min-width: 0px) {
  /* line 434, ../../sass/generated/base.scss */
  .navbar-header {
    float: none;
  }

  /* line 437, ../../sass/generated/base.scss */
  .navbar-left,
  .navbar-right {
    float: none !important;
  }

  /* line 441, ../../sass/generated/base.scss */
  .navbar-toggle {
    display: block;
  }

  /* line 444, ../../sass/generated/base.scss */
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  /* line 448, ../../sass/generated/base.scss */
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    overflow-x: hidden;
  }
  /* line 452, ../../sass/generated/base.scss */
  .navbar-collapse.collapse {
    display: none !important;
  }

  /* line 457, ../../sass/generated/base.scss */
  .collapse.in {
    display: block !important;
    overflow-y: inherit;
    max-height: none;
  }

  /* line 463, ../../sass/generated/base.scss */
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  /* line 466, ../../sass/generated/base.scss */
  .navbar-nav > li {
    float: none;
  }
  /* line 468, ../../sass/generated/base.scss */
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* line 474, ../../sass/generated/base.scss */
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
